.hexGenerator {

  h2 {
    background-color: tomato;
    width: fit-content;
    padding: 15px;
  }

  section {
    background-color: tomato;
    width: fit-content;
    padding: 15px;
    font-size: 18px;

    button {
      font-size: 18px;
    }
  }
}