@use '../../styles/base';

.catPage {
  h2 {
    background-color: white;
    width:fit-content;
    padding: 15px;
  }

  p {
    background-color: white;
    padding: 15px;
    width: fit-content;
  }
}